
.login {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows : minmax(100px, auto);
    background-color: whitesmoke;
    font-family: "Helvetica Neue", "Arial", sans-serif;
}

.login div{
    grid-column : 3/3;
    grid-row : 2/9;
    justify-items: center;
    padding : 5px 5px 5px 5px;
}

.login__form_title{
    align-self: center;
    text-align: center;
    padding : 5px 5px 5px 7px;
    max-height: 100%

    
}

.login__form_btn {
    display : flex;
    min-width : 100%;
    border-color : black;
    border-width : 1px;
    padding: 3px 3px 3px 3px;
    border-radius: 5px;
    cursor: pointer
}

.login__form_item {
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: black;
    margin-bottom: 30px;
    padding: 2px;
    margin: 50px;
    margin-left:auto;
    margin-right:auto;
    border-radius: 5px;
    cursor: pointer;
}

login__form_item input {
    width: 100%;
}

.login__form_btn img {
    height: 38px;
    width: 50px;
    border: none;
    margin: auto;
  }


.login__form_btn:hover {
    background-color: darkgrey;
}

.btn-42 {
    background-color: #292d39;
}