
.login {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows : minmax(100px, auto);
    background-color: whitesmoke;
    font-family: "Helvetica Neue", "Arial", sans-serif;
}

.login div{
    grid-column : 3/3;
    grid-row : 2/9;
    justify-items: center;
    padding : 5px 5px 5px 5px;
}

.login__form_title{
    align-self: center;
    text-align: center;
    padding : 5px 5px 5px 7px;
    max-height: 100%

    
}

.login__form_btn {
    display : flex;
    min-width : 100%;
    border-color : black;
    border-width : 1px;
    padding: 3px 3px 3px 3px;
    background-color: lightgrey;
    cursor: pointer
}

.login__form_btn img {
    margin-right: 10px; /* Adjust the spacing between the image and text as needed */
    min-width: 75px;
    min-height: 50px;
    border-right-color : grey;
    border-right-width : 5px;
    padding-right : 3px
  }


.login__form_btn:hover {
    background-color: darkgrey;
}